<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <title>Concert Venue</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <script th:src="${paymentFormUrl}" type="text/javascript"></script>
  <script type="application/javascript">
    window.applicationId = '[[${appId}]]';
    window.locationId = '[[${locationId}]]';
    window.currency = '[[${currency}]]';
    window.country = '[[${country}]]';
  </script>
  <!--
    These styles can live in a separate .css file. They're just here to keep this
    example to a single file.
  -->
  <link rel="stylesheet" type="text/css" href="css/sq-payment.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<!-- TODO: Add billing address field -->

<body>
  <div id="venue">
    <!-- Seat elements will be generated here -->
  </div>
  <div>
    <button onclick="connectToTerminal()">Pair Device</button>
  </div>
<!-- Begin Payment Form -->
  <form class="check-in-form" id="fast-checkout">
    <div class="wrapper">
      <button onclick="createVerification()" type="button">Verify</button>  
      <span id="verify-flow-message"></span>
    </div>
  </form>
  <!-- End Payment Form -->
  <script src="js/venue.js"></script>
  <script src="js/sq-verify.js"></script>

</body>
</html>
