<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <title>Concert Venue</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <script th:src="${paymentFormUrl}" type="text/javascript"></script>
  <script type="application/javascript">
    window.applicationId = '[[${appId}]]';
    window.locationId = '[[${locationId}]]';
    window.currency = '[[${currency}]]';
    window.country = '[[${country}]]';
  </script>
  <!--
    These styles can live in a separate .css file. They're just here to keep this
    example to a single file.
  -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <div class="top-bar">
    <div class="button-container">
      <button class="navigation-button" onclick="window.location.href='/'">Buy Tickets</button>
    </div>
    <div>
      <div class="pair-device">
        <button onclick="connectToTerminal()">Pair Device</button>
      </div>
      <span id="device-code"></span>
    </div>
  </div>
  <h2 class="header">Check In</h2>
  <h2 id="event-name"></h2>
  <div class="rectangle">
    <span class="label">Stage</span>
  </div>
  <div id="seats-container" class="venue-view"></div>
  <!-- Begin Check-In Form -->
  <form class="check-in-form" id="fast-checkout">
    <div class="verify-container">
      <button onclick="createVerification()" type="button">Check In</button>
      <span id="verify-flow-message"></span>
    </div>
  </form>
  <!-- End Check-In Form -->
  <script src="js/venue.js"></script>
  <script src="js/sq-verify.js"></script>
</body>
</html>
