<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <title>Sample Payment Form</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <script th:src="${paymentFormUrl}" type="text/javascript"></script>
  <script type="application/javascript">
    window.applicationId = '[[${appId}]]';
    window.locationId = '[[${locationId}]]';
    window.currency = '[[${currency}]]';
    window.country = '[[${country}]]';
  </script>
  <!--
    These styles can live in a separate .css file. They're just here to keep this
    example to a single file.
  -->
  <link rel="stylesheet" type="text/css" href="/css/sq-payment.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<!-- TODO: Add billing address field -->

<body>
  <a> Buy Ticket </a>
<!-- Begin Payment Form -->
  <form class="payment-form" id="fast-checkout">
    <div class="wrapper">
      <input type="text" id="customer-name" placeholder="Name" required>
      <div id="card-container"></div>
      <label class="container"> Acknowledge that your card will be saved on file
        <input type="checkbox" id="permissions" checked="checked">
        <span class="checkmark"></span>
      </label>
      <button id="card-button" type="button">Pay with Card</button>
      <span id="payment-flow-message"></span>
    </div>
  </form>
  <!-- End Payment Form -->
  <script src="js/sq-card-pay.js"></script>
  <script src="js/sq-payment-flow.js"></script>
</body>

</html>
